.App {
  text-align: center;
}

.search-container {
 
}

.photos-container {
  column-count: 4;
  margin: 30px;
}

.photo {
  display: flex;
  margin: 10px;
  border-radius: 5px;
}

.photo image {
  flex: 100%;
}

@media min-width(768px) {
  .photos-container {
    column-count: 3;
  }
}

@media min-width(479px) {
  .photos-container {
    margin: 20px;
    column-count: 2;
  }
}

@media min-width(360px) {
  .photos-container {
    margin: 10px;
    column-count: 1;
  }
}
