body {
background: linear-gradient(180deg, rgba(129,201,190,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
min-height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #9e4d64;
}

.search-container {
 display: flex;
 max-width: 420px;
 margin: 0 auto 50px;
}

.search-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 }

.input-container input, select {
  display: block;
  width: 260px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 16px;
  color: #348F81;;
  outline: none;
  border: 1px solid white;
  background-color: white;
  box-sizing: border-box;
}

.input-container input:hover, .input-container select:hover {
  border: 1px solid rgb(65, 179, 163);
}

.search-container button {
  width: 140px;
  height: 40px;
  border: 1px solid rgb(65, 179, 163);
  border-radius: 10px;
  background: #41b3a3;
  font-size: 16px;
  color: white;
  margin-top: 20px;
}

.search-container button:hover {
  border-color: #348F81;
  background: #348F81;
}

.photos-container {
  column-count: 4;
  margin: 30px;
}

.photo {
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
    width: 100%;
}

.photo image {
    width: 100%;
}

@media (max-width: 768px) {
  .photos-container {
    column-count: 3;
  }
}

@media (max-width: 479px) {
  .photos-container {
    margin: 20px;
    column-count: 2;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 30px;
  }
  .search-container form {
    flex-direction: column;
  }
  .photos-container {
    margin: 10px;
    column-count: 1;
  }
  .photo {
    margin: 0;
  }
}